@import "tailwindcss";

@theme {
  --foreground: oklch(87.2% 0.01 258.338);
  --background: oklch(21% 0.034 264.665);
  
  --error: oklch(71.2% 0.194 13.428);
  --warning: oklch(87.9% 0.169 91.605);


  --color-fg: var(--foreground);
  --color-fg2: color-mix(in oklch, var(--foreground) 75%, var(--background));
  --color-fg3: color-mix(in oklch, var(--foreground) 50%, var(--background));
  --color-fg4: color-mix(in oklch, var(--foreground) 25%, var(--background));

  --color-bg: var(--background);
  --color-bg2: color-mix(in oklch, var(--background) 90%, var(--foreground));
  --color-bg3: color-mix(in oklch, var(--background) 80%, var(--foreground));
  --color-bg4: color-mix(in oklch, var(--background) 70%, var(--foreground));

  --color-error: var(--error);
  --color-warning: var(--warning);
}

@layer components {
  .button {
    @apply rounded p-1 px-4 bg-bg4 text-fg text-sm;

    &:hover {
      background-color: color-mix(in oklab, var(--color-bg4), white 5%);
      @apply bg-bg3 cursor-pointer;
    }

    &:disabled {
      @apply bg-transparent text-fg4 pointer-events-none
    }

    &.ghost{
      @apply bg-transparent text-fg3;
      &:hover {
        @apply bg-transparent text-fg2;
      }
      &:disabled {
        @apply opacity-0;
      }
    }
  }
}