@import "tailwindcss";

@theme {
  --foreground: oklch(87.2% 0.01 258.338); /* gray-300 */
  --background: oklch(20.882% 0.02142 263.96); /* gray-900  */
  --accent: oklch(48.487% 0.29116 264.14); /* gray-500 */

  --success: oklch(69.6% 0.17 162.48);
  --error: oklch(71.2% 0.194 13.428);
  --warning: oklch(87.9% 0.169 91.605);

    /* Light mode */
  /* --foreground: oklch(30.217% 0.08622 262.192);
  --background: oklch(100% 0.00011 271.152);
  --success: oklch(55.717% 0.14303 150.553);
  --error: oklch(71.2% 0.194 13.428);
  --warning: oklch(87.9% 0.169 91.605); */
  

  --color-fg: var(--foreground);
  --color-fg-2: color-mix(in oklch, color-mix(in oklch, var(--foreground) 75%, var(--background)) 95%, var(--accent));
  --color-fg-3: color-mix(in oklch, color-mix(in oklch, var(--foreground) 50%, var(--background)) 95%, var(--accent));
  --color-fg-4: color-mix(in oklch, color-mix(in oklch, var(--foreground) 25%, var(--background)) 95%, var(--accent));

  --color-bg: var(--background);
  --color-bg-2: color-mix(in oklch, var(--background) 95%, var(--foreground));
  --color-bg-3: color-mix(in oklch, var(--background) 90%, var(--foreground));
  --color-bg-4: color-mix(in oklch, var(--background) 85%, var(--foreground));

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
}

@layer components {
  .button {
    @apply rounded p-1 px-4 bg-bg-4 text-fg text-sm;

    &:hover {
      background-color: color-mix(in oklab, var(--color-bg-4), white 5%);
      @apply bg-bg-3 cursor-pointer;
    }

    &:disabled {
      @apply bg-transparent text-fg-4 pointer-events-none
    }

    &.ghost{
      @apply bg-transparent text-fg-3;
      &:hover {
        @apply bg-transparent text-fg-2;
      }
      &:disabled {
        @apply opacity-0;
      }
    }
  }
}